<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{email/fragments/head :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">
                <span class="preheader"></span>
                <table class="main">
                    <tr>
                        <td class="wrapper">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <p><span th:text="#{mail.password_reset.hello}">Hello</span> <span
                                                class="gallact-info">[[${username}]]</span>,
                                        </p>
                                        <p><span th:text="#{mail.password_reset.yourereceivingthismailcause}">You are receiving this e-mail due a request to password reset in our web site.</span>
                                        </p>
                                        <p th:text="#{mail.password_reset.resettutorial}">To reset your password, click
                                            in this button and tip your new password.</p>
                                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                                            <tbody>
                                            <tr>
                                                <td align="center">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        <tr>
                                                            <td><a style="color: #fff"
                                                                   th:href="${site_url_password_reset}"
                                                                   target="_blank" th:text="#{mail.password_reset.reset_your_password}">Reset your password</a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <p class="links-expiration-time" th:text="#{mail.password_reset.link_expires_at(${#dates.format(expires_at, date_format)})}">This link is valid only until.</p>

                                        <p th:text="#{mail.password_reset.casedidntsent}">Case you don't sent this
                                            request, ignore this e-mail. Case you keeping receiving some e-mails like
                                            this, please contact us in game support.</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="wrapper">
                            <div th:replace="~{email/fragments/footer.html :: footer}">

                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
</body>
</html>